<%= form_with model: @place do |form| %>
  <p>
    <%= form.label "name", "Place" %>
    <%= form.text_field "name" %>
  </p>
  <p>
    <% form.hidden_field "created_at" %>
    <% form.hidden_field "updated_at" %>
  </p>
  <%= form.submit "New Place" %>
<% end %>